/* Colors */
/* Development Scheme */
/* Scheme one */
/*
$base: $pale-aqua;
$dark-base: $grey-blue;
$font-color: $honeydew;
$highlight-color: $light-pink; */
/* font-size */
/* Size */
/* Computed size */
/* Mixin */
html, body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  background: #ccc;
  color: #777;
  font-family: "Varela Round", sans-serif;
  user-select: none;
}

.page-area {
  position: relative;
  display: grid;
  grid-template-columns: 1fr minmax(0px, 360px) 1fr;
  height: 100%;
}

.content-area {
  position: relative;
  grid-column: 2/3;
  background: #eee;
}

/* Win Dialogue */
.win-dialogue {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s;
  position: absolute;
  left: 10px;
  right: 10px;
  top: 200px;
  background: rgba(238, 238, 238, 0.8);
  height: 150px;
  border: 2px solid #bbb;
  z-index: 10;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.win-dialogue.show {
  opacity: 1;
  pointer-events: all;
}
.win-dialogue.close {
  opacity: 0;
  pointer-events: none;
}
.win-dialogue .text-area {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}
.win-dialogue .button-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.win-dialogue .button-area .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 80px;
  border: 1px solid #bbb;
}
.win-dialogue .button-area .btn:hover {
  background: yellow;
  cursor: pointer;
}
.win-dialogue .button-area .close-btn-area {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
.win-dialogue .button-area .restart-btn-area {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

/* Restart Global */
.restart-global {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  height: 30px;
  width: 80px;
  background: #eee;
}

.restart-global:hover {
  background: yellow;
  cursor: pointer;
}

/* head area */
.head-area {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.head-area .player-area {
  display: grid;
  grid-template-rows: 50px 30px;
}
.head-area .score-area {
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.head-area .player-name-area {
  position: relative;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.head-area .player-name-area .player-name-highlight {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: #bbb;
  opacity: 0;
  margin: 2px;
  border-radius: 4px;
  transition: opacity 0.2s;
}
.head-area .player-name-area .player-name-highlight.active {
  background: #bbb;
  opacity: 0.5;
}
.head-area .player-name-area .name {
  position: relative;
}

/* play area */
.play-area {
  display: grid;
  grid-template-rows: minmax(30px, 1fr) repeat(7, 60px) minmax(30px, 1fr);
}
.play-area .play-area-info {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(6, 60px);
  font-size: 0.7rem;
}
.play-area .play-area-info div {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.play-area .play-area-row {
  position: relative;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(6, 60px);
  font-size: 1.2rem;
}
.play-area .play-area-row .icon-area {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  margin: 2px;
}
.play-area .play-area-row .point-area {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  user-select: none;
}
.play-area .play-area-row .point-area.hide {
  opacity: 0;
  pointer-events: none;
  cursor: default;
}
.play-area .play-area-row .point-area.active:hover {
  cursor: pointer;
  border: 2px solid yellow;
  border-radius: 4px;
  margin: 4px;
}
.play-area .play-area-row .point-area.select {
  color: yellow;
}
.play-area .play-area-row .point-area.used {
  color: green;
}
.play-area .play-area-row .point-area-bonus {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
}
.play-area .play-area-row:nth-child(2n) {
  background: #e1e1e1;
}
.play-area .light-area {
  position: absolute;
  height: 52px;
  width: 52px;
  background: #bbb;
  opacity: 0.5;
  border-radius: 4px;
  margin: 4px;
  transition: left 0.2s;
}
.play-area .light-area.left {
  left: 60px;
}
.play-area .light-area.left.p2 {
  left: 120px;
}
.play-area .light-area.right {
  left: 240px;
}
.play-area .light-area.right.p2 {
  left: 300px;
}
.play-area .light-area.hide {
  opacity: 0;
}

/* dice area */
.dice-area {
  display: grid;
  grid-template-rows: repeat(2, 70px);
}
.dice-area .dice-view-area {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.dice-area .dice-view-area .dice-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  border: 1px solid #ccc;
}
.dice-area .dice-view-area .dice-container.active:hover {
  cursor: pointer;
  border: 2px solid yellow;
  box-sizing: border-box;
}
.dice-area .dice-view-area .dice-container.lock {
  background: #e1e1e1;
}

.roll-area {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  color: #222;
  font-size: 2.5rem;
}
.roll-area .roll-btn-large-area {
  grid-column: 1/3;
}
.roll-area div {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
}
.roll-area .play-btn-area.locked, .roll-area .roll-btn-area.locked {
  opacity: 0.5;
  pointer-events: none;
}

/*# sourceMappingURL=style.css.map */
